<% guest = @guest || @session_guest %>
<div class="row"> 
	<%= rsvp.label :attending, "Will #{ rsvp.object.g1_full_name } be attending?" %>
	<%= rsvp.select :attending, options_from_collection_for_select(Rsvp::ATTENDING_MAP.map{|r| [r.first, r.last.humanize]}, :first, :last, rsvp.object.attending), :include_blank => true %>
</div>
<% if guest.has_second_guest %>
<div class="row"> 
	<%= rsvp.label :second_attending, "Will #{ rsvp.object.g2_full_name } be attending?" %>
	<%= rsvp.select :second_attending, options_from_collection_for_select(Rsvp::ATTENDING_MAP.map{|r| [r.first, r.last.humanize]}, :first, :last, rsvp.object.second_attending), :include_blank => true %>
</div>
<%end %>
