<% guest = @guest || @session_guest %>
<div class="row"> 
	<%= rsvp.label :attending, "Will you be attending?" %>
	<%= rsvp.select :attending, options_from_collection_for_select(Rsvp::ATTENDING_MAP.map{|r| [r.first, r.last.humanize]}, :first, :last, rsvp.object.attending), :include_blank => true %>
</div>
