<% if guest.is_attending? %>
  <%= number_attending_content(rsvp) %>

<% else %>

	<p>We're sorry we won't be able to see you both, you will be missed.</p>
		
<% end %>

<%= content_tag :p, "This guest was#{' NOT' unless guest.rsvp.admin_rsvp?} RSVP'd by an Admin.", :class => 'fancy' if @admin_user %>
